__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

node_modules/

dist/
build/
*-unpacked/

*.AppImage
*.exe
*.pkg

*.pt
*.onnx
*.engine

*.mp4
*.avi
*.mov

train/dataset/
train/fire_smoke_clean/
train/runs/

*.npz
*.pkl

*.log
*.tmp